<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<div class="container">
  <%= image_tag 'Welcome.png', class: 'rounded', style: 'max-width: 800px' %>

  <h1 class="my-5">Hello and welcome!</h1>

  <p class="mb-4">
    Thank you for signing up for Rails MVP Starter newsletter.  We can't wait to help you launch your application faster!
  </p>

  <p class="mb-4">
    Also, and this is important, please hit the reply button and let me know how I can to help!
  </p>

  <p class="mb-4">
    Build something great,
  </p>

  <p class="mb-4">
    -- Harris Reynolds
  </p>

</div>

</body>
</html>