<div class="container my-5">

  <div>
    <h1 class="font-xl font-xbold spacing-close"><span class="text-primary">Beautiful</span> Bootstrap</h1>
  </div>

  <div>
    <%= link_to "Dashboard with Sidebar", templates_dashboard_sidebar_path %>
  </div>

  <div>
    <%= link_to "Dashboard with Top Nav", templates_dashboard_top_nav_path %>
  </div>

  <div>
    <%= link_to "Modal", templates_modal_path %>
  </div>

</div>