<div class="container my-5">
  <h1 class="mb-5">Beautiful Bootstrap Table</h1>

  <div class="table-responsive border border-1 rounded-3 shadow-sm">
    <table class="w-100 table">
      <thead class="bg-gray-100 gray-600 font-xsm text-uppercase border-bottom">
      <tr class="border-bottom">
        <th class="p-3 fw-normal" scope="col">#</th>
        <th class="p-3 fw-normal" scope="col">First</th>
        <th class="p-3 fw-normal" scope="col">Last</th>
        <th class="p-3 fw-normal" scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="p-3">1</td>
        <td class="p-3" >Mark</td>
        <td class="p-3" >Otto</td>
        <td class="p-3" >@mdo</td>
      </tr>
      <tr>
        <td class="p-3">2</td>
        <td class="p-3">Jacob</td>
        <td class="p-3">Thornton</td>
        <td class="p-3">@fat</td>
      </tr>
      <tr>
        <td class="p-3">3</td>
        <td class="p-3" colspan="2">Larry the Bird</td>
        <td class="p-3">@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>