<footer class="p-5 footer bg-light">

  <div>
    <div class="text-uppercase">Company</div>
    <div><%= link_to "Home", root_path, class: 'link link-hover' %></div>
    <div><a class="link link-hover">About</a></div>
    <div><a class="link link-hover">Pricing</a></div>
    <div><a class="link link-hover">Jobs</a></div>
  </div>

  <div>
    <div class="text-uppercase">Products and Services</div>
    <div><%= link_to "Templates", templates_index_path, class: 'link link-hover' %></div>
    <div><a class="link link-hover">Design</a></div>
    <div><a class="link link-hover">Marketing</a></div>
    <div><a class="link link-hover">Advertisement</a></div>
  </div>

  <div>
    <div class="text-uppercase">Legal</div>
    <div><%= link_to "Terms and Conditions", terms_path, class: 'link link-hover' %></div>
    <div><%= link_to "Privacy policy", privacy_path, class: 'link link-hover' %></div>
  </div>

  <div>
    <span class="text-uppercase">Newsletter</span>
    <div class="form-control" style="width: 20rem;">
      <label class="label">
        <span class="label-text">Enter your email address</span>
      </label>
      <div class="relative">
        <input type="text" placeholder="username@site.com" class="w-100 pr-2 form-control">
        <button class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>

</footer>