<footer class="p-10 footer bg-base-200 text-base-content mt-5">
  <div>
    <span class="footer-title">Company</span>
    <%= link_to "Home", root_path, class: 'link link-hover' %>
    <a class="link link-hover">About</a>
    <a class="link link-hover">Pricing</a>
    <a class="link link-hover">Jobs</a>
  </div>
  <div>
    <span class="footer-title">Products and Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <%= link_to "Terms and Conditions", terms_path, class: 'link link-hover' %>
    <%= link_to "Privacy policy", privacy_path, class: 'link link-hover' %>
  </div>
  <div>
    <span class="footer-title">Newsletter</span>
    <div class="form-control w-80">
      <label class="label">
        <span class="label-text">Enter your email address</span>
      </label>
      <div class="relative">
        <input type="text" placeholder="username@site.com" class="w-full pr-16 input input-bordered">
        <button class="absolute top-0 right-0 rounded-l-none btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
</footer>
