<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-2 fw-bold">
    Build Your Rails MVP <span class="text-primary">Faster</span>
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Get a huge head start with the Rails MVP starter application.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Get Started</button>
    </div>
  </div>
</div>