<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rails MVP Starter</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'app' %>
  <%= stylesheet_link_tag 'app' %>
</head>
<body>

<div id="app">
</div>

</body>
</html>




