<h1>Account</h1>
<p>
  Name: <%= current_user.name %>
</p>

<% if current_user.customer? %>

  <div class="mt-5">
    <h4>Credit Cards</h4>

    <div class="flex flex-wrap">
      <% current_user.credit_cards.each do |credit_card| %>
        <%= render partial: "credit_card", locals: { credit_card: credit_card } %>
      <% end %>
    </div>

  </div>

<% else %>
  <div class="mt-5">
    <%= link_to 'Purchase MVP Starter!', new_credit_card_path, class: 'btn btn-primary' %>
  </div>
<% end %>