@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem;
    }
  }

  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
    }
  }

  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem;
    }
  }

  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.5rem;
    }
  }

  h5, .h5 {
    font-size: 1.25rem;
  }

  h6, .h6 {
    font-size: 1rem;
  }

  .form-container {
    @apply form-control
  }

  .w-100 {
    @apply w-full
  }

  .rounded-pill {
    @apply rounded-3xl
  }

  .d-flex {
    @apply flex
  }

  .align-items-center {
    @apply items-center
  }

  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  }

  .btn {
    text-transform: inherit;
  }

  .btn-min {
    min-width: 150px;
  }

  .btn-blue {
    @apply bg-blue-600 border-blue-600;
  }

  .btn-blue:hover {
    @apply bg-blue-700 border-blue-700;
  }

  .navbar-container {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  hr {
    color: #9CA3AF
  }

  .display-6 {
    font-size: 2.5rem;
  }

  .form-text {
    margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
  }

  .link {
    color: #6B7280;
    text-decoration: none;
  }

  .link:hover {
    color: #374151;
    text-decoration: underline;
  }

  .stripeInput {
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    font-size: .875rem;
    height: 48px;
  }
}