@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .form-container {
    @apply form-control
  }

  .w-100 {
    @apply w-full
  }

  .rounded-pill {
    @apply rounded-3xl
  }

  .d-flex {
    @apply flex
  }

  .align-items-center {
    @apply items-center
  }

  .shadow-lg {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
  }

  .btn {
    text-transform: inherit;
  }

  .btn-min {
    min-width: 150px;
  }

  .btn-blue {
    @apply bg-blue-600 border-blue-600;
  }

  .btn-blue:hover {
    @apply bg-blue-700 border-blue-700;
  }

  .navbar-container {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  hr {
    color: #9CA3AF
  }

  .display-6 {
    font-size: 2.5rem;
  }

  .form-text {
    margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
  }

  a {
    color: #6B7280;
    text-decoration: none;
  }

  a:hover {
    color: #374151;
    text-decoration: underline;
  }
}