$primary: #6610f2 !default;

@import 'bootstrap/bootstrap';
@import 'fontawesome-all';
@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}

@import 'beautiful_bootstrap/text';
@import 'beautiful_bootstrap/spacing';
@import 'beautiful_bootstrap/modals';
@import 'beautiful_bootstrap/borders';

.small-icon {
  vertical-align: -.125em;
  width: 16px;
  height: 16px;
  stroke-width: 2;
}

.h-96 {
  height: 25rem;
}

// Theme colors

.bg-theme-color {
  color: $gray-100;
  background-color: $indigo-500;
}

.bg-content-theme-color {
  color: $gray-800;
  background-color: $gray-200;
}


.bg-theme-active {
  color: $gray-100;
  background-color: $indigo-600 !important;
}

.text-theme-light {
  color: $indigo-300;
}

